<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/settings_layout}">
<head>
    <meta charset="UTF-8">
    <title>Portal List</title>
</head>
<body>
<th:block layout:fragment="settings">
    <section class="setting-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="setting-header">
                        <h1>Portal List</h1>
                        <a th:href="@{/admin/settings/portal/add}" class="btn btn-white btn-sm"><i class='bx bx-plus'></i>Portal</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-10 col-lg-11">
                    <div th:insert="~{fragments/_searching_layout}" id="searching"></div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-1">
                    <div class="col-auto">
                        <a th:href="@{/admin/settings/portal/list}" class="btn btn-primary btn-clear d-flex align-items-center"><i
                                class='bx bx-filter-alt'></i>Clear</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:insert="~{fragments/alert}" id="alert"></div>
                <div class="col-sm-12">
                    <div class="portal">
                        <div class="portal-card row" th:each="item : ${list}">
                            <div class="col-12 portal-header">
                                <img src="https://tse2.mm.bing.net/th?id=OIP.7NnC6O0Nu8lqxHKpZeSv2gHaHw&pid=Api&P=0&h=180" alt="" width="50px">
                            </div>
                            <div class="col-12 portal-main">
                                <div class="col-12">
                                    <h2 style="font-size: 20px;" class="text-center mt-2"><span th:text="${item.portalName}"></span> - <span th:text="${item.shortName}"></span></h2>
                                    <p class="text-center"> <i class="bi bi-envelope"></i> <span th:text="${item.supportEmail}"></span></p>
                                    <p class="text-center"> <i class="bi bi-telephone"></i> <span th:text="${item.whatsAppNo}"></span></p>

                                    <p class="text-center p-2 mt-2" th:text="${item.address}"></p>
                                </div>
                                <div>
                                    <ul class="portal-social">
                                        <li><a href=""><i class="bi bi-facebook"></i></a></li>
                                        <li><a href=""><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
                                        <li><a href=""><i class="bi bi-instagram"></i></a></li>
                                        <li><a href=""><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 portal-footer">
                                <div class="row">
                                    <div class="d-flex justify-content-center links">
                                        <a  th:href="@{/admin/settings/portal/edit/{uKey}(uKey=${item.uKey})}" class="btn" data-bs-toggle="tooltip" data-bs-title="Edit">
                                            <i class="bi bi-pencil-fill"></i>
                                        </a>
                                        <a th:href="@{/admin/settings/portal/delete/{uKey}(uKey=${item.uKey})}" onclick="return confirmDelete()"   data-bs-toggle="tooltip" data-bs-title="delete" class="btn">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                    <p class="text-center">
                                        <span th:text="${item.copyright}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="~{fragments/_pagination_layout}" id="pagination"></div>
        </div>
    </section>
</th:block>
</body>
</html>
