<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/settings_layout}">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<th:block layout:fragment="settings">
    <section class="setting-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="setting-header">
                        <h1>Create User</h1>
                        <a th:href="@{/admin/settings/user/list}" class="btn btn-white btn-sm" data-bs-toggle="tooltip" data-bs-title="Go Back"><i class='bx bx-arrow-back' ></i><span class="go-back">Go Back</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="setting-body">
                        <form th:action="@{/admin/settings/user/add}" th:object="${userRequestDto}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="user-profile--image text-center">
                                    <div class="mb-3">
                                        <th:block th:if="${userRequestDto.profileImageUrl eq null}">
                                            <img th:src="@{/images/default_profile_image.png}" width="200px" height="200px" class="profile-pic profile-circle">
                                        </th:block>
                                        <div class="upload-icon profile-icon">
                                            <i class="bi bi-camera upload-button"></i>
                                            <input class="file-upload" type="file" th:field="*{profileImage}" accept="image/*"/>
                                        </div>
                                        <span class="text-danger" th:if="${#fields.hasErrors('profileImage')}"
                                              th:errorclass="error" th:errors="*{profileImage}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" th:field="*{fullName}" id="fullName"
                                               placeholder="Full Name">
                                        <label for="fullName">Full Name<span
                                                class="text-danger">*</span>
                                        </label>
                                        <span class="text-danger" th:if="${#fields.hasErrors('fullName')}"
                                              th:errorclass="error" th:errors="*{fullName}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" th:field="*{email}" id="email"
                                               placeholder="Email">
                                        <label for="email">Email<span
                                                class="text-danger">*</span>
                                        </label>
                                        <span class="text-danger" th:if="${#fields.hasErrors('email')}"
                                              th:errorclass="error" th:errors="*{email}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" th:field="*{mobileNo}" id="mobileNo"
                                               placeholder="Mobile Number">
                                        <label for="fullName">Mobile Number<span
                                                class="text-danger">*</span>
                                        </label>
                                        <span class="text-danger" th:if="${#fields.hasErrors('mobileNo')}"
                                              th:errorclass="error" th:errors="*{mobileNo}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-floating mb-3">
                                        <select multiple class="form-control form-select select2" th:field="*{roleModelList}" id="roleModelList">
                                            <option value="">Select Role</option>
                                            <option th:each="r: ${list}" th:value="${r.uKey}" th:text="${r.name}"></option>
                                        </select>
                                        <label for="roleModelList" class="form-label">Role<span class="text-danger">*</span>
                                        </label>
                                        <span class="text-danger" th:if="${#fields.hasErrors('roleModelList')}"
                                              th:errorclass="error" th:errors="*{roleModelList}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>
